<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Primary" value="DeepPurple"/>
    <add key="Accent" value="DeepPurple"/>
    <add key="Dark" value="false"/>
    <add key="ImmediatelyReboot" value="false"/>
  </appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" />
		<supportedRuntime version="v2.0.50727"/>
	</startup>
  
</configuration>